<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>MusicMVC</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
</head>
<body>
    <div id="wrapper">

        <!-- Sidebar
            https://startbootstrap.com/template-overviews/simple-sidebar/
        -->

        <div id="sidebar-wrapper">
            <ul class="sidebar-nav">
                <li class="sidebar-brand">
                    <a href="#">
                        All the Music
                    </a>
                </li>

                <li>
                    @Html.ActionLink("All Bands", "Index", "Band")
                </li>
                <li>
                    @Html.ActionLink("All Albums", "Index", "Album")
                </li>

                @using (Html.BeginForm())
                {
                    <li class="searchbox">
                        <strong>ENTER to Search Page</strong><br />
                        @Html.TextBox("Search", null, new { @class = "form-control",
                       alt = "Search", title = "Will search by band or album depending on which page you are on." })
                        @Html.ActionLink("Clear Search", "Index")
                    </li>
                }
            </ul>
        </div>
        <!-- /#sidebar-wrapper -->
        <!-- Page Content -->
        <div class="container">
            @RenderBody()
        </div>
        <!-- /#page-content-wrapper -->

    </div>
    <!-- /#wrapper -->



    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)

    @*<!-- jQuery -->
        <script src="js/jquery.js"></script>

        <!-- Bootstrap Core JavaScript -->
        <script src="js/bootstrap.min.js"></script>*@

    <!-- Menu Toggle Script -->
    <script>
        $("#menu-toggle").click(function (e) {
            e.preventDefault();
            $("#wrapper").toggleClass("toggled");
        });
    </script>

</body>
</html>
