@model Music.Models.Album

<div class="row extra-top">
    <div class="col-lg-8">
        <div class="panel panel-default">
            <div class="panel-heading">
                <h2> @Model.Title </h2>
                <sup>Formed: @Model.ReleaseDate.ToShortDateString()</sup>
            </div>
            <div class="panel-body">
                <strong>Tracks:</strong>
                <ul>
                    @foreach (var track in ViewBag.trackList)
                    {
                        <li>@track.Title (@track.Length)</li>
                    }
                </ul>
            </div>
            <div class="panel-footer">
                @Html.ActionLink("Edit", "Edit", new { id = Model.Id }) |
                @Html.ActionLink("Back to List", "Index")
            </div>
        </div>
    </div>
</div>

<div class="row">

</div>