@model IEnumerable<Music.Models.Album>


<h1>All Albums</h1>

<p>
    @Html.ActionLink("Create New", "Create", "Album")
</p>
<hr />

<div class="row">

    <div class="col-lg-8 col-md-4 col-sm-4">
        @foreach (var item in Model)
        {
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h4>
                        <strong>@Html.DisplayFor(modelItem => item.Title)</strong>
                        by @Html.DisplayFor(modelItem => item.Band.Name)
                    </h4>
                </div>
                <div class="panel-body">
                    <sup>Released on @item.ReleaseDate.ToShortDateString()</sup>
                    </div>
                <div class="panel-footer">
                    <p>
                        @Html.ActionLink("Edit", "Edit", new { id = item.Id }) |                        
                        @Html.ActionLink("Add Tracks", "Create", "Track", new { id = item.Id }, null ) |
                        @Html.ActionLink("Details", "Details", new { id = item.Id }) |
                        @Html.ActionLink("Delete", "Delete", new { id = item.Id })
                    </p>
                </div>
            </div>
        }
    </div>


</div>

