@model IEnumerable<Music.Models.Album>


<div class="row">
    <div class="col-lg-2">
        <h2>All Albums</h2>

        <p>
            @Html.ActionLink("Create New", "Create", "Album")
        </p>
    </div>
</div>

<div class="row">
    
    <div class="col-lg-6 col-md-4 col-sm-4">
        @foreach (var item in Model)
        {
            <div class="panel panel-default">
                <div class="panel-heading">
                    @Html.DisplayFor(modelItem => item.Title)
                </div>
                <div class="panel-body">

                    @Html.DisplayFor(modelItem => item.Band.Name)
                    <br />

                    @Html.DisplayFor(modelItem => item.ReleaseDate)
                </div>
                <div class="panel-footer">
                    @Html.ActionLink("Edit", "Edit", new { id = item.Id }) |
                    @Html.ActionLink("Details", "Details", new { id = item.Id }) |
                    @Html.ActionLink("Delete", "Delete", new { id = item.Id })
                </div>
            </div>
        }
    </div>


</div>

