@model Music.Models.Band

<div class="row extra-top">
    <div class="col-lg-8">
        <div class="panel panel-default">
            <div class="panel-heading">
                <h2> Are you sure you want to delete @Model.Name? </h2>
                <h3>@Html.ActionLink("CANCEL", "Index")</h3>
            </div>
            <div class="panel-body">
                <ul>
                    <li>@Model.Name</li>
                    <li>@Model.Formed</li>
                    <li>
                        Albums:
                        <ul>
                            @foreach (var album in ViewBag.albumList)
                            {
                                <li>@album.Title</li>
                            }
                        </ul>
                    </li>
                </ul>
            </div>
            <div class="panel-footer">
                @using (Html.BeginForm())
                {
                    @Html.AntiForgeryToken()

                    <div class="form-actions no-color">
                        <input type="submit" value="Delete" class="btn btn-danger" />
                    </div>
                }
            </div>
        </div>
    </div>
</div>
