@model Music.Models.Band

<div class="row extra-top">
    <div class="col-lg-8">
        <div class="panel panel-default">
            <div class="panel-heading">
                <h2> @Model.Name </h2>
                <sup>Formed: @Model.Formed.ToShortDateString()</sup>
            </div>
            <div class="panel-body">
                <strong>Albums:</strong>
                <ul>
                    @foreach (var album in ViewBag.albumList)
                    {
                        <li>
                            <a href="@Url.Action("Details", "Album", new { id = @album.Id })">
                                @album.Title  (@album.ReleaseDate.ToShortDateString())
                            </a>
                        </li>
                    }
                </ul>
            </div>
            <div class="panel-footer">
                @Html.ActionLink("Edit", "Edit", new { id = Model.Id }) |
                @Html.ActionLink("Back to List", "Index")
            </div>
        </div>
    </div>
</div>

