@model IEnumerable<Music.Models.Band>


<div class="row">
    <div class="col-lg-2">
        <h2>All Bands</h2>

        <p>
            @Html.ActionLink("Create New", "Create")
        </p>
    </div>
</div>

<div class="row">
    
    <div class="col-lg-6 col-md-4 col-sm-4">
        @foreach (var item in Model)
        {
            <div class="panel panel-default">
                <div class="panel-heading">
                    @item.Name<br />
                    <sup>@item.Formed.ToShortDateString()</sup>
                </div>
                <div class="panel-body">
                    @Html.ActionLink("Edit", "Edit", new { id = item.Id }) |
                    @Html.ActionLink("Details", "Details", new { id = item.Id }) |
                    @Html.ActionLink("Delete", "Delete", new { id = item.Id })
                </div>
            </div>
        }
    </div>

</div>
