@model IEnumerable<Music.Models.Band>


<h1>All Bands</h1>

<p>
    @Html.ActionLink("Create New", "Create", "Band")
</p>
<hr />

<div class="row">
    
    <div class="col-lg-6 col-md-4 col-sm-4">
        @foreach (var item in Model)
        {
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h4>
                        <strong> @item.Name</strong>
                        <br /><br/>
                    <sup>Formed on @item.Formed.ToShortDateString()</sup>
                </h4>
                </div>
                <div class="panel-body">
                    @Html.ActionLink("Edit", "Edit", new { id = item.Id }) |
                    @Html.ActionLink("Details", "Details", new { id = item.Id }) |
                    @Html.ActionLink("Delete", "Delete", new { id = item.Id })
                </div>
            </div>
        }
    </div>

</div>
